@import 'variables';
@import 'fonts';
@import 'components/code-input';
@import 'components/sidebar';
html,
body {
    background-color: @backgroundColor;
    color: @textColor;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans';
    font-weight: 200;
}
