<div class="button effect-hover-brackets analyze" data-bind="
        click: analyze,
        css: {
            disabled: state()==='analysisDone' && !automaticRefactoringPossible()
        }
    ">
    <div>
        <span data-bind="visible: state()==='ready'">
            Analyze
        </span>
        <span data-bind="visible: state()==='analysing'">
            ...
        </span>
        <span data-bind="visible: state()==='analysisDone'">
            Refactor
        </span>
    </div>
</div>

<div class="list-of-smells" data-bind=" component: { name: 'list-of-smells', params: { smellEntries: smellEntries } } "></div>
