<div class="button effect-hover-brackets analyze" data-bind="click: analyze">
    <div data-bind="visible: state() === 'ready'">
        Analyze
    </div>

    <div data-bind="visible: state() === 'analysing'">
        ...
    </div>

    <div data-bind="visible: state() === 'analysisDone' && numberOfSelectedRefactorings() > 0">
        Refactor
    </div>
</div>

<div class="list-of-refactorings" data-bind="
    component: {
        name: 'list-of-refactorings',
        params: {
            refactoringEntries: refactoringEntries
        }
    }
"></div>
