<div class="button effect-hover-brackets analyze" data-bind="click: analyze">
    <div>
        <span data-bind="visible: state()==='ready'">
            Analyze
        </span>
        <span data-bind="visible: state()==='analysing'">
            ...
        </span>
        <span data-bind="visible: state()==='analysisDone'">
            Refactor
        </span>
    </div>
</div>

<div class="list-of-refactorings " data-bind=" component: { name: 'list-of-refactorings', params: { refactoringEntries: refactoringEntries } } "></div>
