<div class="code-container">
    <div class="code">
        <div class="left">
            <textarea data-bind="
                value: codeLeft,
                codeMirror: codeLeft
            "></textarea>
        </div>
        <div class="right">
            <textarea data-bind="
                value: codeRight,
                codeMirror: codeRight
            "></textarea>
        </div>
    </div>
</div>
<div class="sidebar" data-bind="component: {
    name: 'sidebar',
    params: {
        codeToRefactor: codeLeft,
        outputCode: codeRight,
        refactoringEngines: refactoringEngines
    }
}"></div>
