<!-- ko foreach: smellEntries -->
<div class="smell-entry">
    <div class="title" title="Code Smell Name" data-bind="text: title"></div>
    <div class="details">
        <div class="lines" data-bind="text: lines"></div>
        <div class="actions">
            <div class="action-button" title="Affected Code" data-bind="
                click: showCode,
                css: {
                    pressed: selectedExtension() === 'code',
                    disabled: !code()
                }">
                <span class="icon-code"></span>
            </div>
            <div class="action-button" title="Automatic Refactoring" data-bind="
                click: showRefactoredCode,
                css: {
                    pressed: selectedExtension() === 'refactor',
                    disabled: !isAutomaticRefactoringPossible()
                }">
                <span class="icon-wand"></span>
            </div>
            <div class="action-button" title="Code Smell Info" data-bind="
                click: showInfo,
                css: {
                    pressed: selectedExtension() === 'info',
                    disabled: !info()
                }">
                <span class="icon-info"></span>
            </div>
            <div class="action-button" title="Suggested Refactorings" data-bind="
                click: showSuggestedRefactorings,
                css: {
                    pressed: selectedExtension() === 'suggested-refactorings',
                    disabled: suggestedRefactorings().length === 0
                }">
                <span class="icon-bulb"></span>
            </div>
        </div>
    </div>
    <!-- ko if: selectedExtension() -->
    <div class="more-details">
        <div data-bind="if: selectedExtension() === 'info'">
            <div class="info" data-bind="text: info"></div>
        </div>
        <div class="code-read-only" data-bind="if: selectedExtension() === 'code'">
            <textarea data-bind="
                value: code,
                codeMirrorReadOnly: code,
                firstLineNumber: startLine
            "></textarea>
        </div>
        <div data-bind="if: selectedExtension() === 'suggested-refactorings'">
            <ul data-bind="foreach: suggestedRefactorings">
                <li>
                    <a data-bind="text: name, attr: { href: $data.hasOwnProperty('url') ? url : '' }"></a>
                </li>
            </ul>
        </div>
        <div class="code-read-only" data-bind="if: selectedExtension() === 'refactor'">
            <textarea data-bind="
                value: refactoredCode,
                codeMirrorReadOnly: code,
                firstLineNumber: startLine
            "></textarea>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
